[Unit]
Description=Sauvegarde du serveur minecraft

[Service]
Type=oneshot

ExecStartPre=/bin/systemctl stop serverServ.service

ExecStart=chemSave/updatespigot.sh

[Install]
WantedBy=multi-user.target
