[Unit]
Description=Sauvegarde du serveur minecraft

[Service]
Type=oneshot

ExecStartPre=/bin/systemctl stop serverserv.service

ExecStart=chemsave/updatespigot.sh

[Install]
WantedBy=multi-user.target
